[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]
python_version = "3.6.9"


[packages]
psycopg2-binary = "*"
django-heroku = "*"
gunicorn = "*"
django_currentuser = "*"
dj_database_url = "*"
whitenoise = "*"
reportlab = "*"

[dev-packages]