{% extends 'sistema/base.html' %}
{% load tags %}
{% block conteudo_janela %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Alteração de senha</h3>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %} style="list-style: none;">{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 card">
            <form class="card-body" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            {{field.label_tag}}
                            {{ field |addclass:'form-control'}}
                            {{ field.help_text | safe }}
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-space btn-primary btn-sm">Concluir</button>
            </form>
        </div>
    </div>
{% endblock %}