{% load static %}
<!doctype html>
<html lang="pt-br">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/vector-map/jqvmap.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/jvectormap/jquery-jvectormap-2.0.2.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icon-css/flag-icon.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/datepicker/tempusdominus-bootstrap-4.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/inputmask/css/inputmask.css'%}" />
    <title>Rentalizze - Admin Dashboard</title>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="{% url 'index' %}">Rentalizze</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'assets/images/avatar-1.jpg'%}" alt="" class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">Azul caneta</h5>
                                <span class="status"></span><span class="ml-2">Ativo</span>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Conta</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Configurações</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1" aria-controls="submenu-1-1">Cliente</a>
                                        <div id="submenu-1-1" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'cadastrar_cliente' %}">Novo cliente</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Listar clientes</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">Reservas</a>
                                        <div id="submenu-1-2" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Nova reserva</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Listar reservas</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-3" aria-controls="submenu-1-3">Veículos</a>
                                        <div id="submenu-1-3" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'cadastrar_veiculo' %}">Novo veículo</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Listar veículos</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Relatórios</a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Clientes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Veículos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Finaceiro</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-building"></i>Empresa <span class="badge badge-success">6</span></a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2-1" aria-controls="submenu-2-1">Funcionários</a>
                                        <div id="submenu-2-1" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Novo funcionário</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Listar funcionários</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2-2" aria-controls="submenu-2-2">Fornecedores</a>
                                        <div id="submenu-2-2" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Nova fornecedor</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Listar fornecedores</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2-3" aria-controls="submenu-2-3">Despesas</a>
                                        <div id="submenu-2-3" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Nova despesa</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Listar despesas</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-calendar"></i>Agenda</a>
                            <div id="submenu-5" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Consulta calendário</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
{#                        <li class="nav-item">#}
{#                            <img src="{% static 'assets/images/automo.png' %}" style="width: 88%;position: absolute;top: 188%;filter: contrast(0.5);">#}
{#                        </li>#}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            {% block conteudo_janela %}{% endblock %}
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer" style="position: fixed;top: 95%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Copyright © 2019 Rentalizze
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">Sobre</a>
                            <a href="javascript: void(0);">Suporte</a>
                            <a href="javascript: void(0);">Contate-nos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 js-->
<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js'%}"></script>
<!-- bootstrap bundle js-->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js'%}"></script>
<!-- slimscroll js-->
<script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js'%}"></script>
<!-- chartjs js-->
<script src="{% static 'assets/vendor/charts/charts-bundle/Chart.bundle.js'%}"></script>
<script src="{% static 'assets/vendor/charts/charts-bundle/chartjs.js'%}"></script>

<!-- main js-->
<script src="{% static 'assets/libs/js/main-js.js'%}"></script>
<!-- jvactormap js-->
<script src="{% static 'assets/vendor/jvectormap/jquery-jvectormap-2.0.2.min.js'%}"></script>
<script src="{% static 'assets/vendor/jvectormap/jquery-jvectormap-world-mill-en.js'%}"></script>
<!-- sparkline js-->
<script src="{% static 'assets/vendor/charts/sparkline/jquery.sparkline.js'%}"></script>
<script src="{% static 'assets/vendor/charts/sparkline/spark-js.js'%}"></script>
<!-- dashboard sales js-->
<script src="{% static 'assets/libs/js/dashboard-sales.js'%}"></script>
<script src="{% static 'assets/libs/js/valida_cpf_cnpj.js'%}"></script>
<script src="{% static 'assets/vendor/inputmask/js/jquery.inputmask.bundle.js'%}"></script>
<script>
    $(function(e) {
        "use strict";
        $(".date-inputmask").inputmask("dd/mm/yyyy"),
            $(".phone-inputmask").inputmask("(99) 99999-9999"),
            $(".international-inputmask").inputmask("+99(99)99999-9999"),
            $(".cpf-inputmask").inputmask("999.999.999-99"),
            $(".cep-inputmask").inputmask("99999-999"),
            $(".cc-inputmask").inputmask("9999 9999 9999 9999"),
            $(".cnpj-inputmask").inputmask("99.999.999/9999-99"),
            $(".isbn-inputmask").inputmask("999-99-999-9999-9"),
            $(".currency-inputmask").inputmask("$9999"),
            $(".percentage-inputmask").inputmask("99%"),
            $(".decimal-inputmask").inputmask({
                alias: "decimal",
                radixPoint: "."
            }),

            $(".email-inputmask").inputmask({
                mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[*{2,6}][*{1,2}].*{1,}[.*{2,6}][.*{1,2}]",
                greedy: !1,
                onBeforePaste: function(n, a) {
                    return (e = e.toLowerCase()).replace("mailto:", "")
                },
                definitions: {
                    "*": {
                        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~/-]",
                        cardinality: 1,
                        casing: "lower"
                    }
                }
            })
    });
    function someComCPF() {
        document.getElementById('cnpj_cliente').disabled = false;
        document.getElementById('cpf_cliente').disabled = true;
        document.getElementById('cpf_cliente').value = "00000000000";
        document.getElementById('cpf_cliente').style.backgroundColor = "";
        document.getElementById('cnpj_cliente').value = "";
        document.getElementById('cpf_label').innerHTML = 'CPF';

    }
    function someComCNPJ() {
        document.getElementById('cpf_cliente').disabled = false;
        document.getElementById('cnpj_cliente').disabled = true;
        document.getElementById('cnpj_cliente').value = "00000000000000";
        document.getElementById('cnpj_cliente').style.backgroundColor = "";
        document.getElementById('cpf_cliente').value = "";
        document.getElementById('cnpj_label').innerHTML = 'CNPJ';

    }
    </script>
</body>

</html>