{% extends 'sistema/base.html' %}

{% block titulo_janela %}{{ titulo_pagina.page }}{% endblock %}
{% block conteudo_janela %}
    <!-- ============================================================== -->
    <!-- basic form  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Dados do veículo</h5>
                <div class="card-body">
                    <form class="card-header">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="modelo_carro">Modelo</label>
                                <input id="modelo_carro" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md">
                                <label for="placa_carro">Placa</label>
                                <input id="placa_carro" type="text" placeholder="" class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label>Marca</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="form-group col-md">
                                <label for="cnhvalidade_cliente">Ano</label>
                                <input id="cnhvalidade_cliente" type="number" class="form-control">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                <label for="cnhvalidade_cliente">Portas</label>
                                <input id="cnhvalidade_cliente" type="number" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cnhvalidade_cliente">Categoria</label>
                                <input id="cnhvalidade_cliente" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="cor_veiculo">Cor</label>
                                <input id="cor_veiculo" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="cor_veiculo">Quilometragem</label>
                                <input id="cor_veiculo" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md">
                                <label for="cnh_cliente">Renavan/Chassis</label>
                                <input id="cnh_cliente" type="number" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>Ativo: </label>
                                <label class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" name="status" checked="true" class="custom-control-input"><span class="custom-control-label">Sim</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row text-left">
                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                <button type="submit" class="btn btn-space btn-primary">Concluir</button>
                                <button class="btn btn-space btn-secondary">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end basic form  -->
    <!-- ============================================================== -->
{% endblock %}