{% extends 'sistema/base.html' %}
{% load tags %}

{% block conteudo_janela %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Edição de veículo</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Dados do veículo</h5>
                <div class="card-body">
                    <form class="card-header" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="modelo_carro">Modelo</label>
                                {{ form.modelo }}
                                {{ form.modelo.errors }}
                            </div>
                            <div class="form-group col-md">
                                <label for="placa_carro">Placa</label>
                                {{ form.placa_automovel }}
                                {{ form.placa_automovel.errors }}
                            </div>
                            <div class="form-group col-md">
                                <label for="motor">Motor</label>
                                {{ form.motor }}
                                {{ form.motor.errors }}
                            </div>
                            <div class="form-group col-md-2">
                                <label>Marca</label>
                                {{ form.marca | addclass:'custom-select' }}
                                {{ form.marca.errors }}
                            </div>
                            <div class="form-group col-md">
                                <label for="cnhvalidade_cliente">Ano</label>
                                {{ form.ano }}
                                {{ form.ano.errors }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="cnhvalidade_cliente">Portas</label>
                                {{ form.nro_portas_automovel | addclass:'custom-select' }}
                                {{ form.nro_portas_automovel.errors }}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cnhvalidade_cliente">Categoria</label>
                                {{ form.categoria | addclass:'custom-select'  }}
                                {{ form.categoria.errors }}
                            </div>
                            <div class="form-group col-md-2">
                                <label for="cor_veiculo">Quilometragem</label>
                                {{ form.quilometragem_automovel }}
                                {{ form.quilometragem_automovel.errors }}
                            </div>
                            <div class="form-group col-md">
                                <label for="cnh_cliente">Renavan/Chassis</label>
                                {{ form.renavam_automovel }}
                                {{ form.renavam_automovel.errors }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="cor_veiculo">Cor</label>
                                {{ form.cor_automovel }}
                                {{ form.cor_automovel.errors }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="tipo_combustivel_automovel">Tipo de Combustível</label>
                                {{ form.tipo_combustivel_automovel | addclass:'custom-select'  }}
                                {{ form.tipo_combustivel_automovel.errors }}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="valor_locacao">Valor de locação(diário)</label>
                                R${{ form.valor_locacao }}
                                {{ form.valor_locacao.errors }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>Ativo: </label>
                                <label class=" custom-control-inline">
                                    {{ form.status | addclass:'custom-select' }}
                                    {{ form.status.errors }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group row text-left">
                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                <button type="submit" class="btn btn-space btn-primary">Concluir</button>
                                <a href="{% url 'listar_veiculos' %}" class="btn btn-space btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}