{% extends 'sistema/base.html' %}
{% load tags %}

{% block conteudo_janela %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Edição de dados de cliente</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 card">
            <h5 class="card-header">Dados do cliente</h5>
            <form class="card-body" method="post" >
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="nome_cliente">Nome completo</label>
                        {{ form.nome_cliente }}
                        {{ form.nome_cliente.errors }}
                    </div>
                    <div class="form-group col-md">
                        <label for="email_cliente">Email</label>
                        {{ form.email_cliente }}
                        {{ form.email_cliente.errors }}
                    </div>
                    <div class="form-group col-md">
                        <label>Telefone/Celular <small class="text-muted">(99) 99999-9999</small></label>
                        {{ form.telefone_cliente }}
                        {{ form.telefone_cliente.errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="rg_cliente">RG</label>
                        {{ form.rg_cliente }}
                        {{ form.rg_cliente.errors }}
                    </div>
                    <div class="form-group col-md">
                        <label id="cpf_label">CPF</label>
                        {{ form.cpf_cliente }}
                        {{ form.cpf_cliente.errors }}
                    </div>
                    <div class="form-group col-md">
                        <label for="cnpj_cliente" id="cnpj_label" disabled="true">CNPJ</label>
                        {{ form.cnpj_cliente }}
                        {{ form.cnpj_cliente.errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cnh_cliente">CNH</label>
                        {{ form.cnh_cliente }}
                        {{ form.cnh_cliente.errors }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="validade_cnh">Validade da CNH</label>
                        {{ form.validade_cnh }}
                        {{ form.validade_cnh.errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="endereco_cliente">Rua</label>
                        {{ form.rua }}
                        {{ form.rua.errors }}
                    </div>
                    <div class="form-group col-md-1">
                        <label for="nrocasa_cliente">N°</label>
                        {{ form.numero }}
                        {{ form.numero.errors }}
                    </div>
                    <div class="form-group col-md">
                        <label for="bairro_cliente">Bairro</label>
                        {{ form.bairro }}
                        {{ form.bairro.errors }}
                    </div>
                    <div class="form-group col-md">
                        <label for="bairro_cliente">Complemento</label>
                        {{ form.complemento }}
                        {{ form.complemento.errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="cep_cliente">CEP</label>
                        {{ form.cep }}
                        {{ form.cep.errors }}
                    </div>
                    <div class="form-group col-md">
                        <label for="estado_cliente">UF</label>
                        {{ form.estado | addclass:'custom-select' }}
                        {{ form.estado.errors }}
                    </div>
                    <div class="form-group col-md">
                        <label for="cidade_cliente">Cidade</label>
                        {{ form.cidade }}
                        {{ form.cidade.errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label>Status: </label>
                        <label class="custom-control custom-checkbox custom-control-inline">
                            {{ form.status | addclass:'custom-select' }}
                            {{ form.status.errors }}
                        </label>
                    </div>
                </div>
                <div class="form-group row text-left">
                    <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                        <button type="submit" class="btn btn-space btn-primary btn-sm">Concluir</button>
                        <a href="{% url 'listar_clientes' %}" class="btn btn-space btn-secondary btn-sm">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}