{% extends 'sistema/base.html' %}
{% load tags %}

{% block conteudo_janela %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Edição de locação</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="btn-light btn-sm" disabled="true" align="center">
                                Usuário atual: <span class="text-uppercase">{{ user.username }}</span>
                                <span class="btn-sm"> - {% now "j/M/Y" %}</span>
                            </div>
                        </li>
                    </ul>
                {% endif %}

                <h5 class="card-header">Dados da Locação</h5>
                <div class="card-body">
                    <form class="card-header" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="cliente">Cliente</label>
                                {{ form.cliente }}
                                {{ form.cliente.errors }}
                            </div>
                            <div class="form-group col-md">
                                <label for="automovel">Automovel</label>
                                {{ form.carro }}
                                {{ form.carro.errors }}
                            </div>
                            <div class="form-group col-md-2">
                                <label for="dt_hora_locacao">Data Inicío</label>
                                {{ form.data_locacao }}
                                {{ form.data_locacao.errors }}
                            </div>
                            <div class="form-group col-md">
                                <label for="dt_a_devolucao">Data Fim</label>
                                {{ form.data_devolucao }}
                                {{ form.data_devolucao.errors }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="tipo">Tipo: </label>
                                <label class="custom-control-inline">
                                    {{ form.tipo | addclass:'custom-select' }}
                                    {{ form.tipo.errors }}
                                </label>
                            </div>
                            <div class="form-group col-md-4"></div>
                            <div class="form-group col-md-2">
                                <label for="tipo">Valor diária:</label>
                                <label class="custom-control-inline">
                                    R$ {{ form.valor_diaria }}
                                </label>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="tipo" id="tot">Valor Total:</label>
                                <label class="custom-control-inline">
                                    R${{ form.valor_locacao}}
                                    <a class="btn btn-success btn-sm border-0" onclick="calcular();">CALCULAR</a>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row text-left">
                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                <button type="submit" class="btn btn-space btn-primary btn-sm">Concluir</button>
                                <a href="{% url 'listar_locacoes' %}" class="btn btn-space btn-secondary btn-sm">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function calcular() {
            var date1 = new Date(document.getElementById('id_data_locacao').value);
            var date2 = new Date(document.getElementById('id_data_devolucao').value);
            var diffDays = parseInt((date2 - date1) / (1000 * 60 * 60 * 24), 10);
            var diaria = document.getElementById('id_valor_diaria').value;
            document.getElementById('tot').innerText = 'Valor total para ' + String(diffDays)+' dia(s):';
            document.getElementById('id_valor_locacao').value = (diffDays * diaria);
        }
    </script>
{% endblock %}