{% extends 'sistema/base.html' %}
{% load tags %}

{% block conteudo_janela %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Devolução</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="btn-light btn-sm" disabled="true" align="center">
                            Locação pelo usuário: <span class="text-uppercase">{{ dados.usuario.username }}</span>
                            em {{ dados.criado_em }}
                        </div>
                    </li>
                </ul>
                <h5 class="card-header">Dados da Locação</h5>
                <div class="card-body">
                    <div class="card-header">
                        <div class="form-row">
                            <div class="form-group col-md">
                                <h4>Cliente:</h4>{{ dados.cliente }}
                                <h4>Tel.: <span>{{ dados.cliente.telefone_cliente }}</span></h4>
                            </div>
                            <div class="form-group col-md">
                                <h4>Veículo:</h4> {{ dados.carro.marca }} {{ dados.carro.modelo }} {{ dados.carro.ano }} - {{ dados.carro.placa_automovel }}
                            </div>
                            <div class="form-group col-md">
                                <h4>Quilometragem:</h4> {{ dados.carro.quilometragem_automovel }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md bg-success-light">
                                <h4>Inicío</h4>
                                Saída dia: {{ dados.data_locacao | date:'d/m/Y' }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md bg-danger-light">
                                <h4>Fim</h4>
                                Retorno dia: {{ dados.data_devolucao | date:'d/m/Y' }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                <h4>Tipo: <span>{{ dados.tipo }}</span></h4>
                            </div>

                            <div class="form-group col-md-2">
                                <label>Valor diária:</label>
                                <label class="custom-control-inline">
                                    R$<span id="diaria" class="bg-success-light">{{ dados.valor_diaria }}</span>
                                </label>
                            </div>
                            <div class="form-group col-md-2">
                                <label id="tot">Valor Subtotal:</label>
                                <label class="custom-control-inline">
                                    R$<span id="subtot" class="bg-success-light">{{ dados.valor_locacao }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="btn-light btn-sm" disabled="true" align="center">
                                Usuário atual: <span class="text-uppercase">{{ user.username }}</span>
                                <span class="btn-sm"> - {% now "j/M/Y" %}</span>
                            </div>
                        </li>
                    </ul>
                {% endif %}
                <h5 class="card-header">Finalizar locação</h5>
                <div class="card-body">
                    <form class="card-header" method="post">
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="automovel">Quilometragem</label>
                                {{ form.quilometragem }}
                            </div>
                            <div class="form-group col-md">
                                <label for="dt_hora_devolucao">Data Fim</label>
                                {{ form.data_devolucao_f }}
                            </div>
                            <div class="form-group col-md">
                                <label for="id_valor_adicional" >Valor adicional/Taxas</label>
                                R${{ form.valor_adicional }}
                            </div>
                            <div class="form-group col-md">
                                <label for="id_valor_locacao_f" id="total">Valor total atual</label>
                                R${{ form.valor_locacao_f }}
                                <a class="btn btn-success btn-sm border-0" onclick="calcular();">CALCULAR</a>
                            </div>
                        </div>
                        <div class="form-group row text-left">
                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                <button type="submit" class="btn btn-space btn-primary btn-sm">Concluir</button>
                                <button class="btn btn-space btn-secondary btn-sm">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <span id="ini_data" style="display: none;">{{ dados.data_locacao | date:'Y-m-d' }}</span>
    <script>
        function calcular() {
            // calcula quantidade de dias entre duas datas e multiplica diária x dias
            var date1 = new Date(document.getElementById('ini_data').innerText);
            var date2 = new Date(document.getElementById('id_data_devolucao_f').value);
            var diffDays = parseInt((date2 - date1) / (1000 * 60 * 60 * 24), 10);

            var diaria = parseFloat(document.getElementById('diaria').innerText.replace(',','.')).toFixed(2);
            var adicional = parseFloat(document.getElementById('id_valor_adicional').value);

            document.getElementById('total').innerText = 'Novo valor total para ' + String(diffDays) + ' dia(s):';
            document.getElementById('id_valor_locacao_f').value = ((diaria * diffDays) + adicional).toFixed(2);
        }
    </script>

{% endblock %}
