{% extends 'sistema/base.html' %}

{% block conteudo_janela %}

    <div class="row">
        <!-- metric -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Clientes</h5>
                    <div class="metric-value d-inline-block">
                        <h5 class="mb-1 text-primary">{{clientes.count}}</h5>
                    </div>
                    {#                    <div class="metric-label d-inline-block float-right text-success">#}
                    {#                        <i class="fa fa-fw fa-caret-up"></i><span>5.27%</span>#}
                    {#                    </div>#}
                </div>
                <div id="sparkline-1"></div>
            </div>
        </div>
        <!-- /. metric -->
        <!-- metric -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Locações ativas</h5>
                    <div class="metric-value d-inline-block">
                        <h5 class="mb-1 text-primary">{{ locacoes_ativas.count }}</h5>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success">
                        <i class="fa fa-fw fa-caret-square-right"></i><span>Total: {{ locacoes.count }}</span>
                    </div>
                </div>
                <div id="sparkline-2"></div>
            </div>
        </div>
        <!-- /. metric -->
        <!-- metric -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Receita</h5>
                    <div class="metric-value d-inline-block">
                        <h5 class="mb-1 text-primary">R$ {{ receita }}</h5>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success">
                        <i class="fa fa-fw fa-clock"></i><span>{% if receita_andamento %}R$ {{ receita_andamento }}{% endif %}</span>
                    </div>
                </div>
                <div id="sparkline-3">
                </div>
            </div>
        </div>
        <!-- /. metric -->
        <!-- metric -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Automóveis em uso</h5>
                    <div class="metric-value d-inline-block">
                        <h5 class="mb-1 text-primary">{{ carros_ativos.count }}</h5>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success">
                        <i class="fa fa-fw fa-caret-square-right"></i><span>Total: {{ carros.count }}</span>
                    </div>
                </div>
                <div id="sparkline-4"></div>
            </div>
        </div>
        <!-- /. metric -->
    </div>
    <!-- ============================================================== -->
    <!-- revenue  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- simple calendar -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div id='calendar1'></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end simple calendar -->
    <!-- ============================================================== -->
{% endblock %}